@font-face {
    font-family: 'NorseFont';
    /* Name your font family */
    src: url('norse.bold.otf');
    /* Locate the .ttf file within your directory*/
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;

}
.container {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin:  0 auto;
    background-color: #fff;
}
.left-section {
    width: 60vh;
    position: relative;
    background-image: url('images.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.174);
}